<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/css/style.css"> <!-- Link to your CSS file -->
</head>
<body>
  <div class="container">
    <h1>Status Pendaftaran</h1>
    
    <% if (status) { %>
      <p>Status Anda: <%= status %></p>
    <% } else { %>
      <p><%= message %></p>
    <% } %>
  </div>
</body>
</html>